*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas,monaco,monospace;
    color: #e5e5e5;
}
body{
    position:relative;
    background: #1e1e1e;
}
footer{
    display: flex;
    padding: 1.25em;
    align-items: center;
    justify-content: left;
    background: #0d0d0d;
}
footer p{
    color: #6b6b6b;
    font-size: 12px;
}
.skill_{
    display: flex;
    padding: 0.1em;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.skill_ p{
    font-size: 10px;
    padding-top: 3px;
}
.center{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    justify-content:center;
} 
.navPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.hideText{
    display: flex;
}
.hideText p{
    display: none;
}
.hideImg{
    display: flex;
}
.hideImg img{
    display: none;
}
.slider{
    display: flex;
    background-color:#0d0d0d;
    margin: 0 auto;
    padding: 0.8em;
    width: 100%;
    height: 500px;
    max-width: 1000px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
:root {
  color-scheme: dark;
}
.info{
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content: center;
}
.infoIcon{
    width: 40px;
    margin-right: 10px;
}
.infoIcon img{
    width: 100%;
}
#languageSwitch{
    background-color: #0d0d0d;
    border-top: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    position: fixed;
    bottom: -1.5em;
    right: 1em;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#languageSwitch p{
    padding-top: 5px;
    color: rgb(120, 120, 120);
    font-size: 12px;
}
#languageSwitch:hover{
    bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 540px){
body{
    overflow-x: hidden;
    max-width: 540px;
}
.center{
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content:center;
}
.Title{
    padding: 1em;
    align-items: center;
    background: #0d0d0d;
    width: 100%;
    height: 60px;
    border-top: 2px solid #7160e8;
    border-bottom: 2px solid #7160e8;
    margin-bottom: 1em;
}
.Title h1{
    color: #d4cf9b;
    align-items: center;
} 
.navPart p{
    padding: 6px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border: 1.5px solid #55aaff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #55aaff;
}
#NavMenu{   
    background: #0d0d0d;
    height: 55px;
    width: 58%;
    max-width: 210px;
    margin: 0;
    top: 0;
    left: 0.5em;
    position: fixed;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
.navIcon{
    height: 25px;
}
#State{
    background: #0d0d0d;

    height: 9.2%;
    max-width: 95px;
    width: 35%;
    max-width: 200px;
    overflow: hidden;  

    margin: 0 auto;
    top: 0;
    right: 0.5em;

    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
#stateConection{
    width: 80%;
    height: 20%;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
#stateMessage{
    width: 80%;
    height: 65%;
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: flex-start ;
}
#stateMessage p{
    font-size: 13px;
    color: rgb(120, 120, 120);
}
.margin1{
    width: 60px;
    height: 75px;
}
.bigName{
    display: flex;
    padding: 1em;
    align-content: center;
    align-items: center;
    justify-content:space-around;
}
#myPhoto{
    width: 60%;
    max-width: 150px;
}
#myPhoto img{
    width: 100%;
    border-radius: 12px;
    border: 2px solid #3782b7;
}
#myName{
    padding-left: 10px;
}
#myName h1{
    font-size: 30px;
    color: #4abc9c;
}
#myName h3{
    font-size: 17px;
    color: #3782b7;
}
#theGif{
    margin: 0 auto;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
#theGif img{
    width: 100%;
}
.video{
    opacity: 0;
    display: none;
    position: relative;
    width: 100%;
}
.poster{
    display: none;
}
#projectsDis{
    padding-top: 2em;
}
.proyect{
    display: flex;
    height: 310px;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid #7160e8;
    border-top: 2px solid #7160e8;
}
#Where{
    background-color: black;
    background-image: url("../img/where.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#Neurosis{
    background-color: black;
    background-image: url("../img/neurosis.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#Dump{
    background-color: black;
    background-image: url("../img/dumpNoVid.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#Mascarade{
    background-color: black;
    background-image: url("../img/masquerade.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.proyectInfo{
    display: inline-grid;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 180px;
    grid-auto-flow: row;
    align-content: space-around;
    grid-template-columns: 150px;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}
.readMoreB{
    display: flex;
    height: 30px;
    width: 65%;
    background: #0d0d0d;
    border: 2px solid #7160e8;
    border-radius: 5px;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
}
.readMoreB p{
    color: #7160e8;
}
.skills{
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.bubbleTable{
    display: grid;
    margin: 0;
    justify-content: space-between;
    grid-gap: 10px;
    width: 95%;    
    padding: 10px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    grid-template-columns: auto auto auto auto auto;
}
.AIcon{
    width: 100%;
    min-width: 42px;
    max-width: 50px;
}
}
@media only screen and (min-width: 541px) and (max-width: 1024px){
.center{
    display: flex;
    padding: 1em;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content:center;
} 
.Title{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 2em;
    margin-bottom: 2em;
    align-items: center;
    background: #0d0d0d;
    width: 100%;
    height: 70px;
    border-top: 2px solid #7160e8;
    border-bottom: 2px solid #7160e8;
}
.Title h1{
    font-size: 27px;
    color: #d4cf9b;
}
.navPart p{
    padding: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #55aaff;
    border-radius: 6px;
    font-size: 15px;
    color: #55aaff;
}
#NavMenu{   
    background: #0d0d0d;
    height: 60px;
    width: 250px;
    margin: 0;
    top: 0;
    left: 1em;
    position: fixed;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
.navIcon{
    height: 30px;
}
#State{
    background: #0d0d0d;

    /*height: 100px;*/
    width: 180px;
    overflow: hidden;  

    margin: 0;
    top: 0;
    right: 1em;

    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
#stateConection{
    width: 80%;
    height: 18%;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
#stateConection b{
    font-size: 17px;
}
#stateMessage{
    width: 80%;
    height: 65%;
    overflow: scroll;
    display: flex;
    padding-bottom: 1em;
    justify-content: space-around;
    align-items: center;
}
#stateMessage p{
    font-size: 13px;
    color: rgb(120, 120, 120);
}
.margin1{
    width: 60px;
    height: 90px;
}
.bigName{
    display: flex;
    padding: 1em;
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
    align-items: center;
    justify-content:space-between;
}
#myPhoto{
    width: 175px;
}
#myPhoto img{
    width: 100%;
    border-radius: 12px;
    border: 2px solid #3782b7;
}
#myName{
    padding-left: 10px;
}
#myName h1{
    font-size: 42px;
    color: #4abc9c;
}
#myName h3{
    font-size: 20px;
    color: #3782b7;
}
#theGif{
    display: flex;
    margin: 0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: #000000;
}
#theGif img{
    width: 100%;
}

#projectsDis{
    padding-bottom: 3em;
    padding-top: 2em;
}
.poster{
    display: none;
}
.proyect{
    display: flex;
    height: 350px;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
}
.proyectInfo{
    display: inline-grid;
    background: #0d0d0d;
    height: 100%;
    width: 30%;
    min-width: 200px;
    grid-auto-flow: row;
    align-content: space-around;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    border-bottom: 2px solid #7160e8;
    border-top: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
.readMoreB{
    display: flex;
    height: 40px;
    width: 65%;
    background: #0d0d0d;
    border: 2px solid #7160e8;
    border-radius: 5px;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
}
.readMoreB p{
    color: #7160e8;
}
.video{
    display: flex;
    background: black;
    width: 70%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.video a{
    height: 100%;
 }
.video img{
   height: 100%;
}
.skills{
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.bubbleTable{
    display: grid;
    margin: 0;
    justify-content: space-between;
    grid-gap: 10px;
    width: 80%;    
    padding: 20px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    grid-template-columns: auto auto auto auto auto;
}
.AIcon{
    width: 80%;
    min-width: 50px;
    max-width: 70px;
}
}
@media only screen and (min-width: 1025px){
.center{
    display: flex;
    padding: 1em;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    justify-content:center;
}  
.Title{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 3em;
    align-items: center;
    background: #0d0d0d;
    width: 100%;
    height: 70px;
    border-top: 2px solid #7160e8;
    border-bottom: 2px solid #7160e8;
}
.Title h1{
    font-size: 27px;
    color: #d4cf9b;
}  
.navPart p{
    padding: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2.5px solid #55aaff;
    border-radius: 8px;
    font-size: 16.5px;
    font-weight: bold;
    color: #55aaff;
}
#NavMenu{   
    background: #0d0d0d;
    height: 8%;
    min-height: 70px;
    max-height: 100px;
    width: 20%;
    max-width: 800px;
    min-width: 320px;
    margin: 0;
    top: 0;
    left: 3em;
    position: fixed;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
.navIcon{
    height: 43px;
}
#State{
    background: #0d0d0d;

    /*height: 100px;*/
    width: 10%;
    max-width: 400px;
    min-width: 200px;
    overflow: hidden;  

    margin: 0;
    top: 0;
    right: 3em;

    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #7160e8;
    border-right: 2px solid #7160e8;
    border-left: 2px solid #7160e8;
}
#stateConection{
    width: 80%;
    height: 18%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 10px;
    display: flex;  
    justify-content: flex-start;
    align-items: center;
}
#stateConection b{
    font-size: 18px;
}
#stateMessage{
    width: 80%;
    height: 65%;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-around;
    align-items: center;
}
#stateMessage p{
    font-size: 13px;
    color: rgb(120, 120, 120);
}
.margin1{
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 75vh;
    z-index: -2;
}
#home_{
    border-top: 2px solid #7160e8;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 1em;
}
.bigName{
    display: flex;
    padding: 1em;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
#myPhoto{
    width: 175px;
    margin-right: 10%;
}
#myPhoto img{
    width: 100%;
    border-radius: 12px;
    border: 2px solid #3782b7;
}
#myName{
    padding-left: 10px;
}
#myName h1{
    font-size: 42px;
    color: #4abc9c;
}
#myName h3{
    font-size: 20px;
    color: #3782b7;
}
#myText{
    width: 40%;
    padding: 0;
    padding-left: 2em;
    padding-right: 5%;
}
#theGif{
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 75vh;
    background-color: #000000;
}
#theGif img{
    width: 100%;
}

/* width */
.slider::-webkit-scrollbar {
    height: 19px; 
  }
  
  /* Track */
  .slider::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05); 
  }
   
  /* Handle */
  .slider::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12); 
  }
  .slider::-webkit-scrollbar-button:single-button:horizontal:increment{
      background-image: url("../img/arrow_right.svg");
      background-position: center; 
      background-color: rgba(255, 255, 255, 0.6);
      background-repeat: no-repeat;
      width: 45px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
  }
  .slider::-webkit-scrollbar-button:single-button:horizontal:decrement{
    background-image: url("../img/arrow_left.svg");
    background-position: center; 
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    width: 45px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .slider::-webkit-scrollbar-button:single-button:horizontal:increment:hover{
    background-color: rgba(255, 255, 255, 0.75);
  }
  .slider::-webkit-scrollbar-button:single-button:horizontal:decrement:hover{
    background-color: rgba(255, 255, 255, 0.75);
  }
  /* Handle on hover */
  .slider::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.58);
  }
.poster{
    background: black;
    overflow: hidden;
    width: 350px;
    min-width: 340px;
    max-width: 351px;
    height: 100%;
}
.poster img{
    width:100%;
    height: 100%;
}
#projectsDis{
    padding-top: 2em;
}
.proyect{
    display: flex;
    flex-direction: row-reverse;
    height: 512px;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #7160e8;
    border-top: 2px solid #7160e8;
}
.proyectInfo{
    display: inline-grid;
    background: #0d0d0d;
    height: 100%;
    width: 25%;
    min-width: 200px;
    max-width: 350px;
    grid-auto-flow: row;
    align-content: space-around;
    grid-template-columns: 80%;
    justify-content: space-evenly;
    /*border-left: 2px solid #7160e8;
    border-bottom: 2px solid #7160e8;
    border-top: 2px solid #7160e8;*/
}
.readMoreB{
    display: flex;
    height: 40px;
    width: 65%;
    background: #0d0d0d;
    border: 2px solid #7160e8;
    border-radius: 5px;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
}
.readMoreB p{
    color: #7160e8;
}
.video{
    display: flex;
    background: black;
    width: 70%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.video a{
    height: 100%;
 }
.video img{
   height: 100%;
}
.AIcon{
    width: 80%;
    min-width: 60px;
    max-width: 80px;;
}
.skills{
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}
.bubbleTable{
    display: grid;
    justify-content: space-between;
    grid-gap: 10px;
    width: 80%;    
    padding: 20px;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    grid-template-columns: auto auto auto auto auto;
}
}